# Directory to ignore 
# testing/ 

# Files to ignore
files-data/observed-data/*
files-data/synthetic-data/*
files-figs/*

# Ignore output files
packages_simulations/*.o

# Ignore Latex temporary files 
*.aux
*.bst
*.fls
*.log
*.out
*.fdb_latexmk
*.synctex.gz
