# Directory to ignore 
# testing/ 

# Files to ignore
files-data/observed-data/*
files-data/synthetic-data/*
files-figs/*

# Ignore Latex temporary files 
*.out
*.fls
*.aux
*.fdb_latexmk
*.synctex.gz
*.bst
